.da-toast
	.da-toast-first Your draft has been discarded.
	.da-toast-connect Connection timed out. Showing limited messages.
		button(class="da-toast-connect__button") RETRY
	.da-toast-message Message sent