.da-icon-button{
	display: flex;
	&__discription{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #333333;
	}
}
.da-styled{
	&__discription{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #333333;
	}
}
.da-segmented{
	&__discription{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #333333;
	}
}
.icon-button-wraper{
	margin-left:60px;
}