
.da-inputs_style{
  
  margin-right: 100px;
  margin-bottom: 50px;
  margin-left:60px;
}

.inputs-wraper{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom:60px;
  margin-left: 40px;


}
.da-inputs-5_lab, .da-inputs-6_lab,.da-inputs-3_lab{
  margin-left:60px;
}
.da-inputs-4{
  margin-top:30px;
}
