.inputs-wraper
	input(class="da-inputs-1 da-inputs_style" placeholder="Input name"  type="text" required)
	input(class="da-inputs-2 da-inputs_style" placeholder="Active text input"  type="text" required)
	.da-inputs-3 
		input(class="da-inputs-3_in da-inputs_style" placeholder="Invalid text input"  type="text" required)
		label(for='name' class="da-inputs-3_lab") This input requires a value!
	input(class="da-inputs-4 da-inputs_style" placeholder="I'm disabled"  type="text" required)
	.da-inputs-5
		label(for='name' class="da-inputs-5_lab") Floating label
		input(class="da-inputs-5_in da-inputs_style" type="text" required)
	.da-inputs-6
		label(for='name' class="da-inputs-6_lab") Text area
		textarea(class="da-inputs-6_in da-inputs_style" placeholder="Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua."  type="text" required)
	