.inputs-wraper
	input(class="da-inputs_simple da-inputs_style" placeholder="Input name"  type="text" required)
	input(class="da-inputs_active-text da-inputs_style" placeholder="Active text input"  type="text" required)
	.da-inputs-3 
		input(class="da-inputs_invalid da-inputs_style" placeholder="Invalid text input"  type="text" required)
		label(for='name' class="da-inputs-3_lab") This input requires a value!
	input(class="da-inputs_disable da-inputs_style" disabled placeholder="I'm disabled"  type="text" required)
	.da-inputs-5
		input#name.da-inputs_floating(type="text", required='')
		label.form-control-placeholder(for="name") Floating label
	.da-inputs-6
		label(for='name' class="da-inputs_text-area") Text area
		textarea(class="da-inputs_text da-inputs_style" placeholder="Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua."  type="text" required)


