.data-tables-style__block
    #da-table
        .da-table__main-title
            span Card Heading
            img(src="images/filter.png" alt="")
            img(src="images/more-black.png" alt="")
        .da-table__selected-items
            span item selected
            img(src="images/delete.png" alt="")
            img(src="images/more-black.png" alt="")

        label.da-table__header(for="tableHeader")
            input#tableHeader.da-checkbox(type='checkbox' name="notifications")
            label.da-checkbox-label(for='tableHeader')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Column Heading
                span Calories
                span Fat (g)
                span Carbs (g)
                span Protein (g)
        label.da-table__row(for="row-1")
            input#row-1.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-1')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-2")
            input#row-2.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-2')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-3")
            input#row-3.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-3')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-4")
            input#row-4.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-4')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-5")
            input#row-5.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-5')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-6")
            input#row-6.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-6')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-7")
            input#row-7.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-7')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-8")
            input#row-8.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-8')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-9")
            input#row-9.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-9')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        label.da-table__row(for="row-10")
            input#row-10.da-checkbox.da-table__input(type='checkbox' name="notifications")
            label.da-checkbox-label(for='row-10')
                span.da-checkbox__logo
                    svg(width='12px' height='10px' viewBox='0 0 12 10')
                        polyline(points='1.5 6 4.5 9 10.5 1')
            .da-table__input-content
                span Table content
                span 159
                span 6.0
                span 24
                span 4.0
        .da-table__prop
            label(for="tableSelect") Rows per page:
            select#tableSelect
                option 10
                option 20
                option 50
                option 100
            span 1-10 of 100
            img(src="images/arrow_left.png" alt="")
            img(src="images/arrow_right.png" alt="")
