.icon-button-wraper
	.da-icon-button
		.da-icon-button__discription.da-icon-button__style icon buttons
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons menu 
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons arrow_back
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons arrow_forward
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons done
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons close
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons fullscreen
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons fullscreen_exit
		button(class="da-icon-button__el da-icon-button__style")
			.material-icons more_vert
		button(class="da-icon-button__el da-icon-button__style") 
			.material-icons refresh
	.da-styled
		.da-styled__discription.da-styled__style styled
		button(class="da-styled__el da-styled__style")
			.material-icons favorite 
		button(class="da-styled__el da-styled__style")
			.material-icons.red favorite 
		button(class="da-styled__el da-styled__style")
			.material-icons.grey favorite 
	.da-segmented
		.da-segmented__discription.da-segmented__style segmented
		button(class="da-segmented__el da-segmented__style")
			.material-icons.grey directions_walk
		button(class="da-segmented__el da-segmented__style")
			.material-icons.grey directions_bike
		button(class="da-segmented__el da-segmented__style")
			.material-icons.grey directions_bus
		button(class="da-segmented__el da-segmented__style")
			.material-icons.grey time_to_leave
  		 
