.da-tooltips-wrapper
	.da-tooltips
		button(class="da-tooltips__arrow-icon da-icon-button__style")
			.material-icons.white arrow_forward
		.tooltip.tooltip_left Tooltip text

	.da-tooltips
		button(class="da-tooltips__create-icon da-icon-button__style")
			.material-icons.white create
		.tooltip.tooltip_bottom Tooltip text

	.da-tooltips
		button(class="da-tooltips__add-icon da-icon-button__style")
			.material-icons.grey add
		.tooltip.tooltip_top Tooltip text

	.da-tooltips
		button(class="da-tooltips__done da-icon-button-m__style")
			.material-icons.white done
		.tooltip.tooltip_right Tooltip text
