.da-header{
  width: 100%;
  background-color: $main-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  z-index: 100;
}

.da-header__title{
  padding-left: 20px;
  font-family: $font-content;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.da-header__text{
  padding-right: 20px;
  font-family: $font-content;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
}
