header.da-header
    span.da-header__title DA-Library
    a(href="https://github.com/dimaTarhan/da-library" target="_blank")
        img(src="images/gLogo.png" alt="" width="25px" height="25px")
    span.da-header__text How it works