@mixin with-ripple($ripple-initial, $ripple-final) {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: $ripple-initial radial-gradient(circle, transparent 1%, $ripple-initial 1%) center/15000%;
  }

  &:active {
    background-color: $ripple-final;
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin shadow-1(){
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}