$main-color:#f0f0f0;
$font-content: 'Rubik', sans-serif;
$ripple-initial: #DCDCDC;
$ripple-final: #A9A9A9;
$ripple-initial_blue: #7CBDF3;
$ripple-final_blue:rgba(33, 150, 243, 0.08);
$tool-width: 72px;
$color-white:white;
$color-grey:rgba(97, 97, 97, 0.9);
$font-family:'Roboto', sans-serif;