@import "variables";
@import "mixins";
@import "../examples/header/header";
@import "../examples/sidebar/sidebar";
@import "../examples/box-shadow/shadow-style";
@import "../examples/inputs/inputs-style";
@import "../examples/icon-button/icon-button-style";
@import "../examples/floating-button/floating-button-style";
@import "../examples/fab-speed-dial/fab-speed-dial-style";
@import "../examples/menu-items/menu-items-style";
@import "../examples/dropdown/dropdown-style";

body{
  margin: 0;
  padding: 0;
}

.siteContent{
  display: flex;
  flex-direction: row;
  font-family: $font-content;
}

.siteContent_da-elements{
  padding: 50px 0 50px 0;
  width: 100%;
}

.siteContent_elementTitle{
  font-size: 32px;
  margin-top: 50px;
  margin-left: 50px;
}