@import "variables";
@import "mixins";
@import "../examples/header/header";
@import "../examples/sidebar/sidebar";
@import "../examples/box-shadow/shadow-style";
@import "../examples/buttons/buttons-style";
body{
  margin: 0;
  padding: 0;
}

.siteContent{
  display: flex;
  padding-top: 60px;
  flex-direction: row;
  font-family: $font-content;
}

.siteContent_da-elements{
  padding: 50px 0 50px 0;
  margin-left: 300px;
  width: 100%;
}

.siteContent_elementTitle{
  font-size: 32px;
  margin-top: 50px;
  margin-left: 50px;
}