.tabs-style__block{
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.tabs-style__title{
  display: block;
  margin-bottom: 10px;
  margin-top: 50px;

  &:first-child{
    margin-top: 0;
  }
}

.tabs-style__indent{
  margin-top: 50px;
}