.tabs-style__block
    span.tabs-style__title A. No ink effect and no sliding bar
    .da-tabs-default
        .da-tabs-default__link.da-tabs-default__selected item one
        .da-tabs-default__link item two
        .da-tabs-default__link item three

    span.tabs-style__title B. The bar slides to the selected tab
    .da-tabs-slider
        .da-tabs-slider__link.da-tabs-slider__selected item one
        .da-tabs-slider__link item two
        .da-tabs-slider__link item three

    span.tabs-style__title C. Inky Tabs
    .da-tabs-inky
        .da-tabs-inky__link.da-tabs-inky__selected item one
            .rippleJS
        .da-tabs-inky__link item two
            .rippleJS
        .da-tabs-inky__link item three
            .rippleJS

    .da-tabs-inky__white.tabs-style__indent
        .da-tabs-inky__white-link.da-tabs-inky__white-selected item one
            .rippleJS
        .da-tabs-inky__white-link item two
            .rippleJS
        .da-tabs-inky__white-link item three
            .rippleJS

    .da-tabs-toolbar.tabs-style__indent
        .da-tabs-toolbar__header
            #da-tabs-toolbar.da-tabs-toolbar__image-container
                img(src='images/dehaze.png' alt="" width="18px" height="18px")
                .rippleJS
            span.da-tabs-toolbar__header-title Title
            .da-tabs-toolbar__image-container
                img(src='images/search.png' alt="" width="18px" height="18px")
                .rippleJS
            .da-tabs-toolbar__image-container
                img(src='images/more.png' alt="" width="18px" height="18px")
                .rippleJS
        .da-tabs-toolbar__nav
            .da-tabs-inky__link.da-tabs-inky__selected item one
                .rippleJS
            .da-tabs-inky__link item two
                .rippleJS
            .da-tabs-inky__link item three
                .rippleJS

    .da-tabs-custom.tabs-style__indent
        .da-tabs-custom__nav
            .da-tabs-custom__link.da-tabs-inky__selected item one
                .rippleJS
            .da-tabs-custom__link item two
                .rippleJS
        .da-tabs-toolbar__image-container
            img(src='images/search.png' alt="" width="18px" height="18px")
            .rippleJS