.da-slidecontainer__slider,.da-slidecontainer__header{ 
  margin-right: 100px;
  margin-bottom: 50px;
  margin-left:60px;
}
.da-slidecontainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom:60px;
	margin-left: 80px;
	&__header{
		font-family: $font-family;
 		font-size: 16px;
			color: #000000;
			font-weight: 500;
	}
}
