.da-inset-dividers


	.da-inset-dividers__but.da-menu-items__style 
		.material-icons.darkblue call 
	.da-inset-dividers__discription.da-menu-items__style (650) 555-1234
	.da-inset-dividers__discription_sm.da-menu-items__style mobile
	.da-inset-dividers__discription.da-menu-items__style (323) 555-6789
	.da-inset-dividers__discription_sm.da-menu-items__style work

	hr.da-inset-dividers__hr

	.da-inset-dividers__but.da-menu-items__style
		.material-icons.darkblue mail_outline
	.da-inset-dividers__discription.da-menu-items__style aliconnors@example.com
	.da-inset-dividers__discription_sm.da-menu-items__style personal
	.da-inset-dividers__discription.da-menu-items__style ali_connors@example.com
	.da-inset-dividers__discription_sm.da-menu-items__style work

	hr.da-inset-dividers__hr

	.da-inset-dividers__but.da-menu-items__style
		.material-icons.darkblue place
	.da-inset-dividers__discription.da-menu-items__style 2000 SW 1st Ave San Francisco, CA 94112
	.da-inset-dividers__discription_sm.da-menu-items__style home
	.da-inset-dividers__discription.da-menu-items__style 1600 Amphitheatre Pkwy Mountain View, CA 94043
	.da-inset-dividers__discription_sm.da-menu-items__style work


