
.fab-speed-dial-wraper
	.da-fab-speed-dial
		button(class="da-fab-speed-dial__clear-icon fab-speed-dial__style")
			.material-icons.grey clear
		button(class="da-fab-speed-dial__favorite-icon fab-speed-dial__style")
			.material-icons.grey favorite
		button(class="da-fab-speed-dial__create-icon fab-speed-dial__style")
			.material-icons.grey create
		button(class="da-fab-speed-dial__menu-icon fab-speed-dial__style")
			.material-icons.white menu
