da-fab-speed-dial.float
	.material-icons.white menu
ul
	li
		.da-fab-speed-dial__clear-icon.fab-speed-dial__style 
			.material-icons.grey clear
	li
		.da-fab-speed-dial__favorite-icon.fab-speed-dial__style
			.material-icons.grey favorite
	li
		.da-fab-speed-dial__create-icon.fab-speed-dial__style
			.material-icons.grey create