.da-shadow_style{
  width: 100px;
  height: 100px;
  margin-right: 80px;
  margin-bottom: 50px;
}

.shadow-wraper{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.da-shadow_style:last-child{
  margin-right: 0;
}