.switch-style__block
    input#wifi.da-switch(type="checkbox")
    label.da-switch-label(for="wifi")
        span.da-switch__slider.da-switch__round
        |Wi-Fi

    input#bluetoothe.da-switch(type="checkbox")
    label.da-switch-label(for="bluetoothe")
        span.da-switch__slider.da-switch__round
        | Bluetooth

    input#airplane.da-switch(type="checkbox")
    label.da-switch-label(for="airplane")
        span.da-switch__slider.da-switch__round
        | Airplane Mode