.da-menu-items{
	display: flex;
	flex-direction: column;
	margin-bottom:60px;
	margin-left: 20%;
	margin-top:3%;
	&__hr{
		width: 320px;
		height: 1px;
		background-color:#d6d5d5;
		margin-left:0px;
		opacity: 0.3;
	}

}
