
.da-menu-items

	.da-menu-items-el
		.da-menu-items-el__but.da-menu-items__style 
			.material-icons.darkgrey query_builder 
		.da-menu-items-el__discription.da-menu-items__style Recent Articles
		
	.da-menu-items-el
		.da-menu-items-el__but.da-menu-items__style
			.material-icons.darkgrey assignment_returned
		.da-menu-items-el__discription.da-menu-items__style Archive
		
	.da-menu-items-el
		.da-menu-items-el__but.da-menu-items__style
			.material-icons.darkgrey done
		.da-menu-items-el__discription.da-menu-items__style Completed
	
	hr.da-menu-items__hr

	.da-menu-items-el
		.da-menu-items-el__but.da-menu-items__style
			.material-icons.darkgrey send
		.da-menu-items-el__discription.da-menu-items__style Sent
		.da-menu-items-el__error-icon.da-menu-items__style
			.material-icons.lgrey error
		
	.da-menu-items-el
		.da-menu-items-el__but.da-menu-items__style
			.material-icons.darkgrey delete
		.da-menu-items-el__discription.da-menu-items__style Trash
		.da-menu-items-el__error-icon.da-menu-items__style
			.material-icons.lgrey error
		
	.da-menu-items-el
		.da-menu-items-el__but.da-menu-items__style
			.material-icons.darkgrey star_rate
		.da-menu-items-el__discription.da-menu-items__style Starred
		.da-menu-items-el__error-icon.da-menu-items__style
			.material-icons.lgrey error
		
	.da-menu-items-el
		.da-menu-items-el__but.da-menu-items__style
			.material-icons.darkgrey question_answer
		.da-menu-items-el__discription.da-menu-items__style Forums
		.da-menu-items-el__error-icon.da-menu-items__style
			.material-icons.lgrey error
			