.da-button{
  padding-left: 40px;
  padding-right: 40px;
  height: 35px;
  padding-top: 4px;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  line-height: 1;
  @include with-ripple($ripple-initial, $ripple-final);
}

.da-flat-button_colored{
  color: blue;
  @include with-ripple($ripple-initial_blue, $ripple-final_blue);
}

.da-flat-button_disabled{
  color: graytext;

  &:hover{
    background: $ripple-initial;
  }
}

.da-raised-button_default{
  @include shadow-1();
}

.da-raised-button_colored{
  background-color: #4285f4;
  color: white;
  @include shadow-1();
  @include with-ripple($ripple-initial_blue, $ripple-final_blue);
}

.da-raised-button_disabled{
  background: $ripple-initial;
  color: graytext;

  &:hover{
    background: $ripple-initial;
  }
}