.da-checkbox{
  display: none;
}

.da-checkbox-label{
  cursor: pointer;
    span{
      display: inline-block;
      vertical-align: middle;
    }
}

.da-checkbox__logo {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  vertical-align: middle;
  border: 2px solid #9098A9;
  transition: all .2s ease;
  svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all .3s ease;
    transition-delay: .1s;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #009688;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
}

.da-checkbox-desc{
  display: block;
  padding-left: 30px;
  margin-top: 20px;
}

.da-checkbox__title{
  font-weight: bold;
  padding-left: 8px;
  padding-top: 2px;
}

.da-checkbox:checked + .da-checkbox-label{
  .da-checkbox__logo{
    background: #009688;
    border-color: #009688;
    animation: move .4s ease;

    svg{
      stroke-dashoffset: 0;
    }

    &:before{
      transform: scale(3.5);
      opacity: 0;
      transition: all .6s ease;
    }
  }
}

@keyframes move{
  50%{
    transform: scale(.9);
  }
}