#da-table{
  width: 100%;
  display: flex;
  flex-direction: column;

  @include shadow-1;
}

.da-table__main-title{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

    span{
      margin-left: 20px;
      font-size: 20px;
    }

    img{
      padding: 10px;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
        @include with-ripple($ripple-initial, $ripple-final);
      }

      &:nth-child(2){
        margin-left: auto;
        margin-right: 10px;
      }

      &:last-child{
        margin-right: 20px;
      }
    }
}

.da-table__selected-items{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;

    span{
      margin-left: 20px;
      font-size: 12px;
      color: #4e7fed;
    }

    img{
      padding: 10px;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
        @include with-ripple($ripple-initial, $ripple-final);
      }

      &:nth-child(2){
        margin-left: auto;
        margin-right: 10px;
      }

      &:last-child{
        margin-right: 20px;
      }
    }
}

.da-table__header{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  color: rgba(0, 0, 0, 0.54);
    .da-checkbox-label{
      margin-left: 40px;
    }
  &:hover{
    background-color: #e8e8e8;
  }
}

.da-table__input-content{
  display: flex;
  //flex-grow: 1;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  //justify-content: space-between;
    span {
      display: block;
      width: 20%;
      text-align: right;
      &:first-child{
        text-align: left;
      }
      &:last-child {
        padding-right: 80px;
      }
    }
}

.da-table__row{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
    .da-checkbox-label{
      margin-left: 40px;
    }
  &:hover{
    background-color: #e8e8e8;
  }
}

.da-table__prop{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.54);

    label{
      margin-right: 10px;
    }

    span{
      margin-left: 20px;
      margin-right: 20px;
    }

    img{
      padding: 10px;
      border-radius: 50%;

      &:hover{
        cursor: pointer;
        @include with-ripple($ripple-initial, $ripple-final);
      }

      &:last-child{
        margin-right: 20px;
        margin-left: 10px;
      }
    }
}
