.da-dialog{
  margin: 0 auto;
  padding-bottom: 10px;

	@include shadow-1();
	&__title{
		font-size: 24px;
		padding: 26px 18px 0 24px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 32px;
		font-weight: bold;
	}
}