.da-lists-item{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.da-lists-item__avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DCDCDC;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
}

.da-lists-item__content{
  display: flex;
  flex-direction: column;
  margin-left: 10px;

    span{
      line-height: 1.4;
      &:first-child{
        font-size: 20px;
      }

      &:last-child {
        color: rgba(0, 0, 0, 0.54);
      }
    }
}

.da-lists-checkbox{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  .da-checkbox-label{
    font-size: 20px;
    width: 100%;
    padding-left: 20px;
    display: flex;
      span{
        margin-left: auto;
        margin-right: 20px;
      }
  }
}

.da-lists-switch{
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  .da-switch-label{
    font-size: 20px;
    display: flex;
    width: 100%;
      span{
        margin-left: auto;
      }
  }
}

.da-lists-checkbox_action{
  padding-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
    label{
      margin-left: 20px;
      font-size: 20px;
      display: flex;
        span{
          margin-right: 10px;
          align-self: center;
        }
    }
    .material-icons{
      color: #757575;
      margin-left: auto;
      margin-right: 20px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      margin-bottom: 0;

      &:hover{
        cursor: pointer;
      }
    }
}

.da-lists-avatar_action{
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
    .material-icons{
      display: flex;
      padding: 15px;
      margin-bottom: 0;
      align-items: center;
      justify-content: center;
      color: #757575;
      margin-left: auto;
      position: relative;
      border-radius: 50%;
      margin-right: 20px;

      &:hover{
        cursor: pointer;
      }
    }
}

.da-lists-avatar_action__avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DCDCDC;
  margin-left: 20px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.da-lists-avatar_action__content{
  font-size: 20px;
  margin-left: 10px;
}

