.material-icons.darkgrey{
color:#7d7d7d;
margin-top: 6px;
}

.material-icons.lgrey{
	color:#bbbbbb;
	}

.da-menu-items-el {
	display: flex;
	flex-direction: row;

	&__but {
		margin-right: 30px;
		font-size: 22px;
	}
	&__error-icon {
		margin-left: auto;
		width: 20px;
		height: 20px;
	}
	&__list {
		list-style-type: none;
		width: 325px;
	}
	& {
		padding: 15px;
		display: flex;
		cursor: pointer;
		transition: .5s ease;
		width: 300px;
	}
	&:hover {
		background: #f5f7f7;
	}
	&__discription {

		color: #4d4d4e;
		line-height: 36px;
		font-size: 15px;
		font-family: $font-family;
	}
}
