.progress-linear-1{
  width: 100%;
  height: 5px;
  position: relative;
  background-color: lightgray;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #009e55;
    animation: load 4s linear infinite;
  }
}

.progress-linear-2{
  width: 100%;
  height: 5px;
  position: relative;
  background-color: lightgray;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #009e55;
    animation: preload 4s linear infinite;
  }
}

.progress-linear-3{
  width: 100%;
  height: 5px;
  position: relative;
  background-color: lightgray;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #009e55;
    animation: load 4s linear infinite;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #009e55;
    opacity: 0.3;
    animation: preload 4s linear infinite;
  }
}

.progress-linear-4{
  width: 100%;
  height: 5px;
  position: relative;
  background-color: lightgray;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #009e55;
    animation: load 4s ease-in infinite;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #009e55;
    opacity: 0.3;
    animation: preload 4s ease infinite;
  }
}

.progress-linear-5{
  width: 100%;
  height: 5px;
  position: relative;
  background-color: lightgray;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #e91e63;
    animation: load 4s linear infinite;
  }
}

.progress-linear-6{
  width: 100%;
  height: 5px;
  position: relative;
  background-color: lightgray;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #e91e63;
    animation: load 4s linear infinite;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #e91e63;
    opacity: 0.3;
    animation: preload 4s linear infinite;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes preload {
  0% {
    width: 0;
  }
  75% {
    width: 100%;
  }

  100% {
    width: 100%;
  }

}