.progress-circular-1{
  @include progress-circular(55, 5);
}

.progress-circular-2{
  @include progress-circular(65, 6);
}

.progress-circular-3{
  @include progress-circular(75, 7);
}

.progress-circular-4{
  @include progress-circular(85, 8);
}

.progress-circular-5{
  @include progress-circular(95, 9);
}

@keyframes prog-circular {
  to {
    transform: rotate(360deg);
  }
}