.da-radio{
  display: block;
  position: relative;
  top: 18px;
  opacity: 0;
  z-index: -100;
}

.da-radio-label{
  display: inline-block;
  cursor: pointer;
  span{
    display: inline-block;
    vertical-align: middle;
  }
}

.da-radio__body {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #9098A9;
  transition: all .2s ease;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #009688;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
}

.da-radio__body-center{
  position: absolute;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  top: 0;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid white;
  transition: all .2s ease;
}

.da-radio-desc{
  font-weight: bold;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.da-radio__title{
  padding-left: 8px;
  padding-top: 2px;
}

.da-radio:checked + .da-radio-label{
  .da-radio__body{
    background: #009688;
    border-color: #009688;
    animation: move .4s ease;

    &:before{
      transform: scale(3.5);
      opacity: 0;
      transition: all .6s ease;
    }
  }
}