.da-slidecontainer {
	width: 100%;
}
.da-slidecontainer__slider {
	-webkit-appearance: none;
	width: 600px;
  height: 2px;
  background-color: #c8c8c8;
	border-radius: 5px;
	outline: none;
}


.da-slidecontainer-with-value{
	display:flex;
	flex-direction: row;
	&__text{
		width: 10px;
		height: 19px;
		font-size: 16px;
		color: #000000;
		margin-right:-10px;
	}
}
#demo,
#demo2,
#demo3{
	text-decoration: underline;
}



