.da-switch-label {
  display: inline-block;
  align-items: center;
  position: relative;
  cursor: pointer;
    span{
      display: inline-block;
      margin-left: 10px;
      margin-right: 20px;
    }

}

.da-switch {
  display: block;
  position: relative;
  top: 18px;
  left: 18px;
  opacity: 0;
  z-index: -100;
}

.da-switch__slider {
  background-color: #ccc;
  cursor: pointer;
  position: relative;
  height: 16px;
  width: 40px;
  transition: .4s;

  &:after{
    content: "";
    width: 25px;
    height: 25px;
    background: #009688;
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }

  &:before {
    background-color: #F1F1F1;
    bottom: -4px;
    content: "";
    height: 25px;
    left: 0;
    position: absolute;
    transition: .4s;
    width: 25px;
  }
}

.da-switch:checked + .da-switch-label {
  .da-switch__slider {
    background-color: #7FCAC3;

    &:after{
      transform: scale(3);
      opacity: 0;
      transition: all .6s ease;
    }
  }

  .da-switch__slider:before{
    transform: translateX(15px);
    background-color: #009688;
  }
}

.da-switch__slider.da-switch__round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}
