.da-tabs-default{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #00bcd7;
  justify-content: center;

  @include shadow-1();
}

.da-tabs-default__link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
}

.da-tabs-default__selected{
  color: #ffff8d;
  opacity: 1;
}

.da-tabs-slider__link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 3px solid #00bcd7;
  position: relative;
}

.da-tabs-slider{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #00bcd7;
  justify-content: space-around;

  @include shadow-1();
}

.da-tabs-slider__selected{
  opacity: 1;
  border-bottom: 3px solid #ffff8d;
  transition: .2s;
}

.da-tabs-inky{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #00bcd7;
  justify-content: space-around;

  @include shadow-1();
}

.da-tabs-inky__link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 3px solid #00bcd7;
  position: relative;

    .rippleJS .ripple{
      background: #ffff8d;
    }
}

.da-tabs-inky__white{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.da-tabs-inky__white-link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #00bcd7;
  opacity: 0.5;
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 3px solid white;
  position: relative;

  .rippleJS .ripple{
    background: #00bcd7;
  }
}

.da-tabs-inky__white-selected{
  opacity: 1;
  border-bottom: 3px solid #00bcd7;
  transition: .2s;
}

.da-tabs-toolbar{
  width: 100%;
  background: #00bcd7;
  @include shadow-1();
}

.da-tabs-toolbar__header{
  height: 50px;
  margin-bottom: 10px;
  padding: 5px 20px 0 20px;
  display: flex;
  align-items: center;
}

.da-tabs-toolbar__image-container{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  position: relative;

  &:nth-child(3){
    margin-left: auto;
    margin-right: 10px;
  }

  &:hover{
    background: #00A5BE;
    cursor: pointer;
  }

    img{
      margin: auto;
    }

    .rippleJS .ripple{
      background: #ffff8d;
    }
}

.da-tabs-toolbar__header-title{
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.da-tabs-toolbar__nav{
  width: 100%;
  height: 50px;
  flex-direction: row;
  background-color: #00bcd7;
  justify-content: space-around;
  display: none;
}

.da-tabs-custom{
  display: flex;
  width: 100%;
  height: 190px;
  background: #00bcd7;
  @include shadow-1();

    .da-tabs-toolbar__image-container{
      margin: auto 20px 5px auto;
    }
}

.da-tabs-custom__nav{
  display: flex;
  height: 50px;
  flex-direction: row;
  background-color: #00bcd7;
  margin-top: auto;
  margin-left: 65px;
}

.da-tabs-custom__link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 3px solid #00bcd7;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;

  .rippleJS .ripple{
    background: #ffff8d;
  }
}

.da-tabs-inky__selected{
  opacity: 1;
  border-bottom: 3px solid #ffff8d;
  transition: .2s;
}