.da-toast{
	display: flex;
	flex-direction: column;
}
.da-toast-first {
	width: 288px;
  border-radius: 3px;
	background-color: #323232;
	padding-top:16px;
	padding-bottom: 16px;
	padding-left: 24px;
	color: #fff;
	font-family: $font-family;
	font-weight: normal;
	font-size: 14px;
	margin:60px 40px 60px 40px;
}
.da-toast-connect__button{
	width: 42px;
  height: 16px;
	font-family: $font-family;
  font-size: 14px;
	color: #eeff41;
	background: #323232;
	border:none;
	padding-left:12px;
}
.da-toast-connect{
	color:$color-white;
	font-family: $font-family;
	font-size: 14px;
	border-radius: 3px;
	background: #323232;
	padding-top:16px;
	padding-bottom: 16px;
	padding-left: 24px;
	width: 415px;
	margin:0px 40px 60px 40px;
}
.da-toast-message{
	
	color: #fff;
	font-family: $font-family;
	font-weight: normal;
	font-size: 14px;
	border-radius: 24px;
	background: #323232;
	padding-top:16px;
	padding-bottom: 16px;
	padding-left: 24px;
	width: 288px;
	margin:0px 40px 60px 40px;
}


#da-toast-example {
	width: 288px;
  border-radius: 3px;
	background-color: #323232;
	font-family: $font-family;
	font-weight: normal;
	font-size: 14px;
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px;
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%;
  bottom: 30px; 
}

#da-toast-example.show {
  visibility: visible; 
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}