.da-toolbar-default{
  display: flex;
  width: 100%;
  height: 65px;
  align-items: center;

    span{
      color: white;
      font-size: 20px;
      margin-left: 20px;
    }
}

.da-toolbar .material-icons{
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  margin-left: 20px;
  position: relative;
  margin-bottom: 0;

  &:nth-child(3){
    margin-left: auto;
  }

  &:last-child{
    margin-left: 10px;
    margin-right: 20px;
  }

  &:hover{
    cursor: pointer;
  }
}

.da-toolbar-tall__top{
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.da-toolbar-tall__bottom{
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.da-toolbar-medium{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 115px;
  padding-top: 15px;

  span{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    align-self: flex-end;
  }
}

.da-toolbar-tallMedium{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 175px;
  padding-top: 15px;
}

.da-toolbar-tallMedium__content{
  box-sizing: border-box;
  color: white;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 60%;
  align-self: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;

    span:first-child{
      font-size: 20px;
    }

    span:last-child{
      font-size: 18px;
    }
}