.da-floating-button{
	display: flex;
	&__discription{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #333333;
		margin-bottom:20px;
		font-weight: bold;
	
	}

	&__arrow-icon{
		margin: 30px;
	}
	&__create-icon{
		margin: 30px;
	}
	&__add-icon{
		margin: 30px;
	}
}
.floating-button-wraper{
	margin-left:20%;
	margin-bottom:3%;
	margin-top:3%;
}
.da-floating-button-m{
	display: flex;
	&__discription{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #333333;
		margin-bottom:20px;
		font-weight: bold;
	
	}

	&__reply{
		margin: 20px;
	}
	&__done{
		margin: 20px;
	}
	&__clear{
		margin: 20px;
	}
}