.floating-button-wraper
	.da-floating-button
		.da-floating-button__discription.da-floating-button__style Regular
		button(class="da-floating-button__arrow-icon da-icon-button__style")
			.material-icons.white arrow_forward
		button(class="da-floating-button__create-icon da-icon-button__style")
			.material-icons.white create
		button(class="da-floating-button__add-icon da-icon-button__style")
			.material-icons.grey add


	.da-floating-button-m
		.da-floating-button-m__discription.da-floating-button-m__style Mini
		button(class="da-floating-button-m__done da-icon-button-m__style")
			.material-icons.white done
		button(class="da-floating-button-m__reply da-icon-button-m__style")
			.material-icons.white reply
		button(class="da-floating-button-m__clear da-icon-button-m__style")
			.material-icons.grey clear