.da-sidebar
    .da-sidebar__title
        span elements
    .da-sidebar__nav
        a(href="#buttons" class="da-sidebar__link") Buttons
        a(href="#cards" class="da-sidebar__link") Cards
        a(href="#checkbox" class="da-sidebar__link") Checkbox
        a(href="#tables" class="da-sidebar__link") Data Tables
        a(href="#dialog" class="da-sidebar__link") Dialog
        a(href="#fab-speed-dial" class="da-sidebar__link") FAB Speed Dial
        a(href="#floating-button" class="da-sidebar__link") Floating Action Button
        a(href="#icon-button" class="da-sidebar__link") Icon Button
        a(href="#inputs" class="da-sidebar__link") Inputs
        a(href="#inset-dividers" class="da-sidebar__link") Inset Dividers
        a(href="javascript:void(0)" class="da-sidebar__link") Lists
        a(href="#menu-items" class="da-sidebar__link") Menus&Menu Items
        a(href="#dropdown" class="da-sidebar__link") Menu Dropdown
        a(href="#progress_circular" class="da-sidebar__link") Progress Circular
        a(href="#progress_linear" class="da-sidebar__link") Progress Linear
        a(href="#radio" class="da-sidebar__link") Radio Button
        a(href="#shadow" class="da-sidebar__link") Shadow
        a(href="#slider" class="da-sidebar__link") Slider
        a(href="#switch" class="da-sidebar__link") Switch (Toggle)
        a(href="#tabs" class="da-sidebar__link") Tabs
        a(href="#toast" class="da-sidebar__link") Toast
        a(href="#toolbar" class="da-sidebar__link") Toolbar
        a(href="#tooltips" class="da-sidebar__link") Tooltips