.da-sidebar
    .da-sidebar__title
        span elements
    .da-sidebar__nav
        a(href="#buttons" class="da-sidebar__link") Buttons
        a(href="javascript:void(0)" class="da-sidebar__link") Cards
        a(href="javascript:void(0)" class="da-sidebar__link") Checkbox
        a(href="javascript:void(0)" class="da-sidebar__link") Data Tables
        a(href="javascript:void(0)" class="da-sidebar__link") Dialog
        a(href="javascript:void(0)" class="da-sidebar__link") FAB Speed Dial
        a(href="javascript:void(0)" class="da-sidebar__link") Floating Action Button
        a(href="javascript:void(0)" class="da-sidebar__link") Icon Button
        a(href="javascript:void(0)" class="da-sidebar__link") Inputs
        a(href="javascript:void(0)" class="da-sidebar__link") Inset Dividers
        a(href="javascript:void(0)" class="da-sidebar__link") Lists
        a(href="javascript:void(0)" class="da-sidebar__link") Menus&Menu Items
        a(href="javascript:void(0)" class="da-sidebar__link") Menu Dropdown
        a(href="javascript:void(0)" class="da-sidebar__link") Progress Circular
        a(href="javascript:void(0)" class="da-sidebar__link") Progress Linear
        a(href="javascript:void(0)" class="da-sidebar__link") Radio Button
        a(href="#shadow" class="da-sidebar__link") Shadow
        a(href="javascript:void(0)" class="da-sidebar__link") Slider
        a(href="javascript:void(0)" class="da-sidebar__link") Switch (Toggle)
        a(href="javascript:void(0)" class="da-sidebar__link") Tabs
        a(href="javascript:void(0)" class="da-sidebar__link") Toast
        a(href="javascript:void(0)" class="da-sidebar__link") Toolbar
        a(href="javascript:void(0)" class="da-sidebar__link") Tooltips