.da-dropdown{
	display: flex;
	flex-direction: column;
	margin-bottom:60px;
  margin: 0 auto;
}
.da-menu-button{
	color: #4d4d4e;
	padding-top:15px;
	padding-bottom: 15px;
	text-align: center;
	width: 204px;
	
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: $color-white;
	margin:0 auto;
	
	
}
.da-menu-button:hover {
	background: #f5f7f7;
}
