.da-dropdown
	button(class="da-dropdown__el da-dropdown__style") 
		.material-icons.dgrey query_builder 
		.da-dropdown__el_discription.da-dropdown__style Recent Articles
	button(class="da-dropdown__el da-dropdown__style")
		.material-icons.dgrey assignment_returned
		.da-dropdown__el_discription.da-dropdown__style Archive
	button(class="da-dropdown__el da-dropdown__style")
		.material-icons.dgrey done
		.da-dropdown__el_discription.da-dropdown__style Completed