.da-dropdown
	.da-menu-button Dropdown
	.da-menu
		.da-dropdown__el
			button(class="da-dropdown__el_but") 
				.material-icons.dgrey query_builder 
			.da-dropdown__el_discription Recent Articles
	
		.da-dropdown__el
			button(class="da-dropdown__el_but")
				.material-icons.dgrey assignment_returned
			.da-dropdown__el_discription Archive
	
		.da-dropdown__el
			button(class="da-dropdown__el_but")
				.material-icons.dgrey done
			.da-dropdown__el_discription Completed