.da-dropdown
	.da-dropdown__el
		button(class="da-dropdown__el_but da-dropdown__style") 
			.material-icons.dgrey query_builder 
		.da-dropdown__el_discription.da-dropdown__style Recent Articles
	
	.da-dropdown__el
		button(class="da-dropdown__el_but da-dropdown__style")
			.material-icons.dgrey assignment_returned
		.da-dropdown__el_discription.da-dropdown__style Archive
	
	.da-dropdown__el
		button(class="da-dropdown__el_but da-dropdown__style")
			.material-icons.dgrey done
		.da-dropdown__el_discription.da-dropdown__style Completed