.toolbar-style__block{
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.toolbar-style__default-color{
  background-color: #607d8b;
}

.toolbar-style__tallTop-color{
  margin-top: 50px;
  background-color: #009688;
}

.toolbar-style__tallBottom-color{
  margin-top: 50px;
  background-color: #673ab7;
}

.toolbar-style__medium-color{
  margin-top: 50px;
  background-color: #03a9f4;
}

.toolbar-style__tallMedium-color{
  margin-top: 50px;
  background-color: #e91e63;
}