.toolbar-style__block
    .da-toolbar-default.toolbar-style__default-color
        .da-toolbar__img-container
            img(src='images/dehaze.png' alt="" width="18px" height="18px")
            .rippleJS
        span.da-toolbar__title Toolbar
        .da-toolbar__img-container
            img(src='images/refresh.png' alt="" width="18px" height="18px")
            .rippleJS
        .da-toolbar__img-container
            img(src='images/more.png' alt="" width="18px" height="18px")
            .rippleJS

    .da-toolbar-tall__top.toolbar-style__tallTop-color
        .da-toolbar-default
            .da-toolbar__img-container
                img(src='images/dehaze.png' alt="" width="18px" height="18px")
                .rippleJS
            span.da-toolbar__title Toolbar: toll
            .da-toolbar__img-container
                img(src='images/refresh.png' alt="" width="18px" height="18px")
                .rippleJS
            .da-toolbar__img-container
                img(src='images/more.png' alt="" width="18px" height="18px")
                .rippleJS

    .da-toolbar-tall__bottom.toolbar-style__tallBottom-color
        .da-toolbar-default
            .da-toolbar__img-container
                img(src='images/dehaze.png' alt="" width="18px" height="18px")
                .rippleJS
            span.da-toolbar__title Toolbar: tall with elements aligned to the bottom
            .da-toolbar__img-container
                img(src='images/refresh.png' alt="" width="18px" height="18px")
                .rippleJS
            .da-toolbar__img-container
                img(src='images/more.png' alt="" width="18px" height="18px")
                .rippleJS

    .da-toolbar-medium.toolbar-style__medium-color
        .da-toolbar__img-container
            img(src='images/dehaze.png' alt="" width="18px" height="18px")
            .rippleJS
        span.da-toolbar__title Toolbar: medium-tall with labels aligned to the bottom
        .da-toolbar__img-container
            img(src='images/refresh.png' alt="" width="18px" height="18px")
            .rippleJS
        .da-toolbar__img-container
            img(src='images/more.png' alt="" width="18px" height="18px")
            .rippleJS

    .da-toolbar-tallMedium.toolbar-style__tallMedium-color
        .da-toolbar__img-container
            img(src='images/dehaze.png' alt="" width="18px" height="18px")
            .rippleJS
        .da-toolbar-tallMedium__content
            span Toolbar: tall with labels aligned to the middle
            span Toolbar elements aligned to the bottom
        .da-toolbar__img-container
            img(src='images/refresh.png' alt="" width="18px" height="18px")
            .rippleJS
        .da-toolbar__img-container
            img(src='images/more.png' alt="" width="18px" height="18px")
            .rippleJS