.toolbar-style__block
    .da-toolbar-default.toolbar-style__default-color
        .material-icons dehaze
            .rippleJS
        span.da-toolbar__title Toolbar
        .material-icons refresh
            .rippleJS
        .material-icons more_vert
            .rippleJS

    .da-toolbar-tall__top.toolbar-style__tallTop-color
        .da-toolbar-default
            .material-icons dehaze
                .rippleJS
            span.da-toolbar__title Toolbar: toll
            .material-icons refresh
                .rippleJS
            .material-icons more_vert
                .rippleJS

    .da-toolbar-tall__bottom.toolbar-style__tallBottom-color
        .da-toolbar-default
            .material-icons dehaze
                .rippleJS
            span.da-toolbar__title Toolbar: tall with elements aligned to the bottom
            .material-icons refresh
                .rippleJS
            .material-icons more_vert
                .rippleJS

    .da-toolbar-medium.toolbar-style__medium-color
        .material-icons dehaze
            .rippleJS
        span.da-toolbar__title Toolbar: medium-tall with labels aligned to the bottom
        .material-icons refresh
            .rippleJS
        .material-icons more_vert
            .rippleJS

    .da-toolbar-tallMedium.toolbar-style__tallMedium-color
        .material-icons dehaze
            .rippleJS
        .da-toolbar-tallMedium__content
            span Toolbar: tall with labels aligned to the middle
            span Toolbar elements aligned to the bottom
        .material-icons refresh
            .rippleJS
        .material-icons more_vert
            .rippleJS