.checkbox-style__block
    input#notific.da-checkbox(type='checkbox' name="notifications")
    label.da-checkbox-label(for='notific')
        span.da-checkbox__logo
            svg(width='12px' height='10px' viewBox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
        span.da-checkbox__title Notifications
    span.da-checkbox-desc.checkbox-style__indent Notify me about updates to apps or games that I’ve downloaded

    input#updat.da-checkbox(type='checkbox' name="update")
    label.da-checkbox-label(for='updat')
        span.da-checkbox__logo
            svg(width='12px' height='10px' viewBox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
        span.da-checkbox__title Auto-updates
    span.da-checkbox-desc.checkbox-style__indent Auto-update apps over wifi only

    input#clear.da-checkbox(type='checkbox' name="clear")
    label.da-checkbox-label(for='clear')
        span.da-checkbox__logo
            svg(width='12px' height='10px' viewBox='0 0 12 10')
                polyline(points='1.5 6 4.5 9 10.5 1')
        span.da-checkbox__title Clear search history
    span.da-checkbox-desc Remove all the searches you have ever performed