.radio-style__block
    span.da-radio-desc Keep Wi-Fi on during sleep
    input#always.da-radio(type='radio' name="keep")
    label.da-radio-label(for='always')
        span.da-radio__body
            span.da-radio__body-center
        span.da-radio__title Always

    input#plug.da-radio(type='radio' name="keep")
    label.da-radio-label(for='plug')
        span.da-radio__body
            span.da-radio__body-center
        span.da-radio__title Only when plugged in

    input#never.da-radio(type='radio' name="keep")
    label.da-radio-label(for='never')
        span.da-radio__body
            span.da-radio__body-center
        span.da-radio__title Never