doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        link(rel="icon" type="image/png" href="images/da-logo.png")
        title DA-Library
        link(rel="stylesheet" href="css/da-library.css")
        link(rel="stylesheet" href="css/example.css")
        link(href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Rubik" rel="stylesheet")
        script(src="js/jsFunctions.js")
    body
        include examples/header/header
        .siteContent
            include examples/sidebar/sidebar
            .siteContent_da-elements
                span#shadow.siteContent_elementTitle Shadow
                include examples/box-shadow/box-shadow

                span#buttons.siteContent_elementTitle Buttons
                include examples/buttons/buttons
