doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title AD-Framework
        link(rel="stylesheet" href="css/da-framework.css")
        link(rel="stylesheet" href="css/example.css")
        link(href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Rubik" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src = " https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js ")
        script(src="js/jsFunctions.js")
    body
        include examples/header/header
        .siteContent
            include examples/sidebar/sidebar
            .siteContent_da-elements
                span#buttons.siteContent_elementTitle Buttons
                include examples/buttons/buttons
                span.pretty-descrip Flat buttons are typically used for less-pronounced actions. In cards, Flat buttons
                    | help maintain an emphasis on card content.
                    | Raised buttons are high-emphasis, distinguished by
                    | their use of elevation and fill. They contain actions that are primary to your app.
                    | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/buttons/buttons

                span#fab-speed-dial.siteContent_elementTitle FAB Speed Dial
                include examples/fab-speed-dial/fab-speed-dial
                span.pretty-descrip FAB Speed Dial are typically used for less-pronounced actions. They contain actions that are primary to your app.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/fab-speed-dial/fab-speed-dial

                span#floating-button.siteContent_elementTitle Floating Action Button
                include examples/floating-button/floating-button
                span.pretty-descrip A floating action button (FAB) performs the primary, or most common, action on a screen. 
                        | It appears in front of all screen content, typically as a circular shape with an icon in its center. 
                        | FABs come in three types: regular, mini. Only use a FAB if it is the most suitable way to present a 
                        | screen’s primary action. The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/floating-button/floating-button

                span#icon-button.siteContent_elementTitle Icon Buttons
                include examples/icon-button/icon-button
                span.pretty-descrip Icon buttons are typically used for different actions. Sometimes you might want to have icons 
                        | for certain button to enhance the UX of the application as we recognize logos more easily than plain text. 
                        | For example, if you have a delete button or create you can label it with a dustbin icon.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/icon-button/icon-button
               
                span#inputs.siteContent_elementTitle Inputs
                include examples/inputs/inputs
                span.pretty-descrip The input tag specifies an input field where the user can enter data. input elements are used within a  form element to declare 
                        |input controls that allow users to input data. 
                        | An input field can vary in many ways, depending on the type attribute.
                xmp.prettyprint.pretty-code
                    include examples/inputs/inputs


                span#menu-items.siteContent_elementTitle Menus & Menu Items
                include examples/menu-items/menu-items
                span.pretty-descrip A menu displays a list of choices on a temporary surface. 
                        | They appear when users interact with a button and actions.For example, 
                        | if you have a delete button or create you can label it with a dustbin icon.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/menu-items/menu-items

                span#dropdown.siteContent_elementTitle Menu Dropdown
                include examples/dropdown/dropdown
                span.pretty-descrip A dropdown menu is a compact way of displaying multiple choices. 
                        | It appears upon interaction with an element (such as an icon or button) or when users perform a specific action.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/dropdown/dropdown
                
                span#shadow.siteContent_elementTitle Shadow
                include examples/box-shadow/box-shadow
                span.pretty-descrip You can use this style element simply by adding a class to the appropriate block,
                    | for example:
                xmp.prettyprint.pretty-code
                    include examples/box-shadow/box-shadow
                
                span#tooltips.siteContent_elementTitle Tooltips
                include examples/tooltips/tooltips
                
                
                
