doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title AD-Framework
        link(rel="stylesheet" href="css/da-framework.css")
        link(rel="stylesheet" href="css/example.css")
        link(href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Rubik" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="js/jsFunctions.js")
    body
        include examples/header/header
        .siteContent
            include examples/sidebar/sidebar
            .siteContent_da-elements
                span#shadow.siteContent_elementTitle Shadow
                include examples/box-shadow/box-shadow
                span#inputs.siteContent_elementTitle Inputs
                include examples/inputs/inputs
                span#icon-buttons.siteContent_elementTitle Icon Buttons
                include examples/icon-buttons/icon-buttons
                
