doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title DA-library
        link(rel="stylesheet" href="css/da-library.css")
        link(rel="stylesheet" href="css/example.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src = " https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js ")

        
    body
        include examples/header/header
        .siteContent
            include examples/sidebar/sidebar
            .siteContent_da-elements
             

                span#fab-speed-dial.siteContent_elementTitle FAB Speed Dial
                include examples/fab-speed-dial/fab-speed-dial
                span.pretty-descrip FAB Speed Dial are typically used for less-pronounced actions. They contain actions that are primary to your app.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/fab-speed-dial/fab-speed-dial

                span#floating-button.siteContent_elementTitle Floating Action Button
                include examples/floating-button/floating-button
                span.pretty-descrip A floating action button (FAB) performs the primary, or most common, action on a screen. 
                        | It appears in front of all screen content, typically as a circular shape with an icon in its center. 
                        | FABs come in three types: regular, mini. Only use a FAB if it is the most suitable way to present a 
                        | screen’s primary action. The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/floating-button/floating-button

                span#icon-button.siteContent_elementTitle Icon Buttons
                include examples/icon-button/icon-button
                span.pretty-descrip Icon buttons are typically used for different actions. Sometimes you might want to have icons 
                        | for certain button to enhance the UX of the application as we recognize logos more easily than plain text. 
                        | For example, if you have a delete button or create you can label it with a dustbin icon.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/icon-button/icon-button
               
                span#inputs.siteContent_elementTitle Inputs
                include examples/inputs/inputs
                span.pretty-descrip The input tag specifies an input field where the user can enter data. input elements are used within a  form element to declare 
                        |input controls that allow users to input data. 
                        | An input field can vary in many ways, depending on the type attribute.
                xmp.prettyprint.pretty-code
                    include examples/inputs/inputs
                
                span#inset-dividers.siteContent_elementTitle Inset Dividers
                include examples/inset-dividers/inset-dividers
                span.pretty-descrip Divider is a component that allows for Material styling of a line separator with various orientation options.
                        | Dividers can be added to lists as a means of separating content into distinct sections. Inset dividers can also be added to provide the appearance of distinct elements in a list without cluttering content like avatar images or icons.
                        | The last example of this demo show how to use inset dividers:
                xmp.prettyprint.pretty-code
                    include examples/inset-dividers/inset-dividers
                


                span#menu-items.siteContent_elementTitle Menus & Menu Items
                include examples/menu-items/menu-items
                span.pretty-descrip A menu displays a list of choices on a temporary surface. 
                        | They appear when users interact with a button and actions.For example, 
                        | if you have a delete button or create you can label it with a dustbin icon.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/menu-items/menu-items

                span#dropdown.siteContent_elementTitle Menu Dropdown
                include examples/dropdown/dropdown
                span.pretty-descrip A dropdown menu is a compact way of displaying multiple choices. 
                        | It appears upon interaction with an element (such as an icon or button) or when users perform a specific action.
                        | The last example of this demo show how to use buttons:
                xmp.prettyprint.pretty-code
                    include examples/dropdown/dropdown
                
                
                
                span#slider.siteContent_elementTitle Slider
                include examples/slider/slider
                span.pretty-descrip Sliders allow users to make selections from a range of values.
                    | for example:
                xmp.prettyprint.pretty-code
                    include examples/slider/slider


                span#tooltips.siteContent_elementTitle Tooltips
                include examples/tooltips/tooltips
                span.pretty-descrip Tooltips display informative text when users hover over, focus on, or tap an element. For example:
                xmp.prettyprint.pretty-code
                    include examples/tooltips/tooltips

                span#toast.siteContent_elementTitle Toast
                include examples/toast/toast
                pan.pretty-descrip Materialize provides an easy way for you to send unobtrusive alerts to your users through toasts. These toasts are also placed and sized responsively
                xmp.prettyprint.pretty-code
                    include examples/toast/toast


                span#dialog.siteContent_elementTitle Dialog
                include examples/dialog/dialog
                pan.pretty-descrip Dialog are surfaces that display content and actions on a single topic.
                    | They should be easy to scan for relevant and actionable information. Elements, like text
                    | and buttons, should be placed on them in a way that clearly indicates hierarchy. 
                xmp.prettyprint.pretty-code
                    include examples/dialog/dialog
                
        script(src="js/slider.js")
        script(src="js/slider2.js")
        script(src="js/slider1.js")
                
                
                
                
