.da-card.card-style
    .da-card__text
        p Cards are a convenient means of displaying content composed of different types of objects.
    .da-card__button
        button.da-button.card-style__button Hurray!

.da-card.card-style
    .da-card__title Card headline title
    .da-card__text
        p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores.
            | No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
    hr.da-card__line
    .da-card__button
        button.da-button.card-style__button More info...
        button.da-button.card-style__button.card-style__button_indent Decline
        button.da-button.da-flat-button_colored.card-style__button Accept

.da-card.card-style
    .da-card__header.card-style__header
        img.da-card__image(src="images/card_picture.png" alt="")
        .da-card__title.da-card__image-title.card-style__image-title Card with image header
    .da-card__text
        p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores.
            | No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
    hr.da-card__line
    .da-card__button
        button.da-button.card-style__button More info...
        button.da-button.card-style__button.card-style__button_indent Decline
        button.da-button.da-flat-button_colored.card-style__button Accept